<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KanjiKit_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KanjiKit_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KanjiKit_tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>KanjiKit_watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22D368CE1E1CFE180083A2D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D368D71E1CFE250083A2D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D368F01E1D02B30083A2D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D368F91E1D02B60083A2D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D369041E1D03500083A2D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D3690D1E1D03530083A2D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D369181E1D03560083A2D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D369211E1D03580083A2D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
